.stm_markup__sidebar .widget, .stm_markup__sidebar_divider .widget {
    padding: 30px 0 0 0;
    border-top: 1px solid #e1e1e1;
}

.stm_markup__sidebar .widget .widgettitle h5, .stm_markup__sidebar_divider .widget .widgettitle h5 {
    text-transform: none;
}

.stm_markup__sidebar .widget .widgettitle h5:after, .stm_markup__sidebar .widget .widgettitle h5:before, .stm_markup__sidebar_divider .widget .widgettitle h5:after, .stm_markup__sidebar_divider .widget .widgettitle h5:before {
    display: block;
}

.stm_markup__sidebar .widget .textwidget, .stm_markup__sidebar_divider .widget .textwidget {
    font-size: 13px;
}

.stm_markup__sidebar .widget:first-child, .stm_markup__sidebar_divider .widget:first-child {
    padding-top: 0;
    border-top: 0;
}

.widget.wpb_content_element {
    margin-bottom: 35px;
}

.widget_tp_widget_recent_tweets .tp_recent_tweets ul li a {
    color: #333;
}

.widget_contacts_style_5 .widget_contacts_inner .stm-icontext_style2 .stm-icontext__icon {
    position: relative;
    top: 2px;
}
