.site-content .widget {
    margin-bottom: 45px;
}

.site-content .widget:last-child {
    margin-bottom: 0;
}

.widget .widgettitle h5 {
    font-weight: 400;
    font-size: 30px;
    text-transform: none;
}

.widget.widget_meta ul li::before,
.widget.widget_archive ul li::before {
    top: 11px;
}

.widget ul li::before, .widget ol li::before {
    top: 13px;
}

.stm_widget_search .widget.widget_search .search-form button {
    border-radius: 0 !important;
}

.widget_tag_cloud .tagcloud a {
    line-height: 1;
    color: #778084;
    background: #f5f5f5;
    border: 1px solid #f5f5f5;
    padding: 11px 10px;
    margin: 0 4px 8px 4px;
}
