/*COLORS*/
/*FONTS*/
.stm_posts_list_style_24 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.stm_posts_list_style_24 .stm_posts_list_single {
    width: 33.33%;
    font-size: 14px;
    margin-bottom: 40px !important;
    padding: 0 15px;
}

.stm_posts_list_style_24 .stm_posts_list_single:last-child {
    margin-bottom: 0;
}

.stm_posts_list_style_24 .stm_posts_list_single__container {
    position: relative;
    overflow: hidden;
    border: none;
    height: 100%;
}

.stm_posts_list_style_24 .stm_posts_list_single__image {
    border-radius: 10px;
    height: 220px;
    display: block;
    overflow: hidden;
}

.stm_posts_list_style_24 .stm_posts_list_single__image img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center;
}

.stm_posts_list_style_24 .stm_posts_list_single__date {
    letter-spacing: 0.24px;
    position: absolute;
    font-weight: bold;
    font-size: 16px;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background: #fff;
    overflow: hidden;
    white-space: nowrap;
    line-height: 30px;
    transition: width .2s;
}

.stm_posts_list_style_24 .stm_posts_list_single__day {
    width: 30px;
    float: left;
    text-align: center;
}

.stm_posts_list_style_24 .stm_posts_list_single__body {
    padding: 30px;
}

.stm_posts_list_style_24 .stm_posts_list_single__body h5 {
    cursor: pointer !important;
    line-height: 24px;
    font-size: 18px;
    margin-bottom: 10px;
}

.stm_posts_list_style_24 .stm_posts_list_single__body h5 a {
    color: inherit;
    cursor: pointer !important;
    text-decoration: none !important;
}

.stm_posts_list_style_24 .stm_posts_list_single__excerpt {
    color: #777777;
}

.stm_posts_list_style_24 .stm_posts_list_single__excerpt p {
    line-height: 22px;
    margin-bottom: 0;
    font-size: 14px;
}

.stm_posts_list_style_24 .stm_posts_list_single:hover .stm_posts_list_single__date {
    width: 70px;
}

.stm_posts_list_style_24 .stm_posts_list_single:hover .stm_posts_list_single__excerpt {
    color: #333333;
}

@media (max-width: 1023px) {
    .stm_posts_list_style_24 .stm_posts_list_single__body {
        padding: 30px 15px 30px 15px;
    }

    .stm_posts_list_style_24 .stm_posts_list_single__info {
        display: block;
    }
}

@media (max-width: 550px) {
    .stm_posts_list_style_24 .stm_posts_list_single {
        width: 100%;
    }

    .stm_posts_list_style_24 .stm_posts_list_single__body {
        padding: 30px 40px 30px 40px;
    }
}
