/*Charity*/
/*COLORS*/
/*FONTS*/
.stm_video {
    display: block;
    position: relative;
    background-size: cover;
}

.stm_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 100;
}

.has_poster {
    background-position: 50% 0 !important;
}

.has_poster .stm_playb {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: auto !important;
    transform: none !important;
    opacity: 0.85;
}

.has_poster .stm_playb:hover {
    opacity: 1;
}

.has_poster .stm_playb::before {
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: none !important;
}

.has_poster .stm_playb::after {
    position: absolute;
    margin: auto !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: none !important;
}

.stm_video.stm_video_style_4 {
    background-position: 50% 50%;
}

.stm_video.stm_video_style_4 .stm_playb:after {
    content: '';
    display: block;
    width: 70px;
    height: 70px;
    background-color: transparent;
    border-radius: 50%;
    border: 2px solid #fff;
}

.stm_video.stm_video_style_4 .stm_playb:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 0 12px 21px;
    border-left-color: #fff;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-right-color: transparent;
    z-index: 20;
}
