/*COLORS*/
/*FONTS*/
.stm_video {
    display: block;
    position: relative;
    background-size: cover;
}

.stm_video iframe {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border: 0;
    z-index: 100;
}

.has_poster {
    background-position: 50% 0 !important;
}

.has_poster .stm_playb {
    position: absolute;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    margin: auto !important;
    transform: none !important;
    opacity: 0.85;
}

.has_poster .stm_playb:hover {
    opacity: 1;
}

.has_poster .stm_playb::before {
    margin: auto !important;
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: none !important;
}

.has_poster .stm_playb::after {
    position: absolute;
    margin: auto !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    left: 0 !important;
    transform: none !important;
}

.stm_video.stm_video_style_2 {
    position: relative;
    background-position: 50% 50%;
    background-size: cover;
}

.stm_video.stm_video_style_2:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: all .3s ease;
    z-index: 1;
}

.stm_video.stm_video_style_2 .stm_playb {
    opacity: 0.9;
    z-index: 2;
}

.stm_video.stm_video_style_2 .stm_playb:hover {
    opacity: 1;
}

.stm_video.stm_video_style_2 .stm_playb:after {
    content: '';
    display: block;
    width: 145px;
    height: 145px;
    border: 18px solid white;
    border-radius: 50%;
}

.stm_video.stm_video_style_2 .stm_playb:before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -25px 0 0 -14px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 0 27px 40px;
    border-color: transparent white;
    z-index: 20;
}

.stm_video.stm_video_style_2.has_poster:hover:after {
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 550px) {
    .stm_video.stm_video_style_2.has_poster {
        height: 270px !important;
    }
}

.stm_video.stm_video_style_2.stm_video_small .stm_playb:after {
    width: 110px;
    height: 110px;
}

.stm_video.stm_video_style_2.stm_video_small .stm_playb:before {
    margin: -20px 0 0 -10px;
    border-width: 20px 0 20px 30px;
}

.stm_video.stm_video_style_2.stm_video_xsmall .stm_playb:after {
    width: 73px;
    height: 73px;
    border-width: 11px;
}

.stm_video.stm_video_style_2.stm_video_xsmall .stm_playb:before {
    margin: -14px 0 0 -7px;
    border-width: 15px 0 15px 23px;
}
