/*COLORS*/
/*FONTS*/
.stm_pricing-table_style_12 {
    background-color: white;
    padding: 12px 20px 0;
    position: relative;
    transition: transform .4s;
    margin-bottom: 30px;
}

.stm_pricing-table_style_12:before, .stm_pricing-table_style_12:after {
    content: '';
    display: block;
    width: 1px;
    height: 100%;
    background-color: #eee;
    position: absolute;
    top: 0;
}

.stm_pricing-table_style_12:before {
    left: -15px;
}

.stm_pricing-table_style_12:after {
    right: -16px;
}

.stm_pricing-table_style_12 .stm_pricing-table__head {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 35px;
}

.stm_pricing-table_style_12 .stm_pricing-table__head h5 {
    -ms-flex-order: 1;
    order: 1;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    margin-top: 10px;
    margin-bottom: 0;
}

.stm_pricing-table_style_12 .stm_pricing-table__pricing {
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: bold;
    display: -ms-flexbox;
    display: flex;
    color: #333333 !important;
}

.stm_pricing-table_style_12 .stm_pricing-table__prefix {
    font-size: 18px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    width: 60px;
    text-align: right;
    margin-top: 9px;
}

.stm_pricing-table_style_12 .stm_pricing-table__price {
    font-size: 44px;
    line-height: 1;
    font-weight: 600;
    letter-spacing: -3px;
    text-align: center;
}

.stm_pricing-table_style_12 .stm_pricing-table__separator, .stm_pricing-table_style_12 .stm_pricing-table__postfix {
    font-size: 18px;
    -ms-flex-item-align: end;
    align-self: flex-end;
    opacity: .5;
    margin-bottom: 3px;
}

.stm_pricing-table_style_12 .stm_pricing-table__postfix {
    width: 80px;
}

.stm_pricing-table_style_12 .stm_pricing-table__content {
    font-size: 16px;
    margin-bottom: 34px;
}

.stm_pricing-table_style_12 .stm_pricing-table__content ul {
    padding: 0;
}

.stm_pricing-table_style_12 .stm_pricing-table__content li {
    padding: 14px 0 15px 20px;
    display: -ms-flexbox;
    display: flex;
}

.stm_pricing-table_style_12 .stm_pricing-table__content li:before {
    content: '\ebae';
    font-size: 22px;
    font-weight: bold;
    font-family: "stmicons";
    display: inline-block;
    margin-right: 9px;
}

.stm_pricing-table_style_12 .stm_pricing-table__content li + li {
    border-top: 1px solid #f0f0f0;
}

.stm_pricing-table_style_12 .stm_pricing-table__footer {
    text-align: center;
}

.stm_pricing-table_style_12 .stm_pricing-table__footer .btn {
    background: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    padding: 13px;
    max-width: 210px;
    width: 100%;
    text-align: center;
}

.stm_pricing-table_style_12 .stm_pricing-table__footer .btn:hover {
    color: #ffffff !important;
}

.stm_pricing-table_style_12 .stm_pricing-table__label {
    font-size: 14px;
    line-height: 32px;
    color: #fff;
    text-align: center;
    width: 200px;
    text-transform: uppercase;
    position: absolute;
    top: 25px;
    left: -60px;
    transform: rotate(-45deg);
}
