/*COLORS*/
/*FONTS*/
.stm-counter_style_15 {
    padding-top: 24px;
    padding-bottom: 33px;
    font-size: 42px;
    line-height: 53px;
    font-weight: bold;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.stm-counter_style_15 .stm-counter__icon {
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
    font-size: 100px;
}

.stm-counter_style_15 .stm-counter__label {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;
    margin-top: 2px;
    width: 100%;
    color: #333333;
}

.stm-counter_style_15.stm_icon_gradient i {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

@media (max-width: 992px) {
    .stm-counter_style_15 {
        padding-left: 0;
    }
}

@media (max-width: 767px) {
    .stm-counter_style_15 {
        text-align: center;
    }
}
