/*COLORS*/
/*FONTS*/
.stm_iconbox_style_16 {
    margin-bottom: 30px;
}

.stm_iconbox_style_16 .stm_iconbox__link {
    text-decoration: none !important;
}

.stm_iconbox_style_16 .stm_iconbox__icon {
    display: block;
}

.stm_iconbox_style_16 .stm_iconbox__text {
    overflow: hidden;
}

.stm_iconbox_style_16 .stm_iconbox__text h5:before {
    content: '';
    display: block;
    background: rgba(0, 0, 0, 0.3) !important;
    margin: 0 0 18px;
}

body:not(.stm_headings_line) .stm_iconbox_style_16 .stm_iconbox__text h5:before {
    display: none;
}

.stm_iconbox_style_16 .stm_iconbox__text h5 p {
    font-size: 13px;
    line-height: 22px;
}

.stm_iconbox_style_16.stm_iconbox__icon-left .stm_iconbox__icon {
    float: left;
}

.stm_iconbox_style_16.stm_iconbox__icon-right .stm_iconbox__icon {
    float: right;
}

.stm_iconbox_style_16.stm_iconbox__icon-top .stm_iconbox__icon {
    float: none;
    width: auto !important;
}

.stm_iconbox_style_16.stm_iconbox__icon-center {
    text-align: center;
}

.stm_iconbox_style_16.stm_iconbox__icon-center .stm_iconbox__icon {
    float: none;
    margin: 0 auto !important;
}

.stm_iconbox_style_16.text-center.stm_iconbox__icon-top .stm_iconbox__icon {
    margin: 0 auto;
}

.stm_iconbox_style_16 .stm_iconbox__icon {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
}

.stm_iconbox_style_16 .stm_iconbox__text {
    margin-top: 24px;
}

.stm_iconbox_style_16 .stm_iconbox__text h5 {
    font-size: 20px;
    line-height: 25px;
    margin-bottom: 10px;
}

.stm_iconbox_style_16 .stm_iconbox__desc {
    font-size: 14px;
    line-height: 21px;
}
